@{
  Layout = "_Layout";
}


<h3>Vendor: @Model["vendor"].Name</h3>
@* <h2>@Model["order"].Description</h2> *@
<h4>Order Details: </h4>

<h4>@Model["order"].Name</h4>

<button><a href='/vendors/@Model["vendor"].Id/orders/new'>Add another order</a></button>
<button><a href='/vendors'>View all vendors</a></button>


@* <form action='/orders/delete/@Model["order"].Id' method="post">
  <button type="submit" name="button">Delete Order</button>
</form> *@
