@{
  Layout = "_Layout";
}

<h3>Pierre's Bakery Vendors and Orders</h3>

<h3><button><a href='/vendors'>View vendors</a></button></h3>
<h3><button><a href='/vendors/new'>Add a new vendor</a></button></h3>